<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565374864170-1vr71fg6cfmf205b0mbjnfjh4ord1eg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565374864170-1vr71fg6cfmf205b0mbjnfjh4ord1eg2</string>
	<key>API_KEY</key>
	<string>AIzaSyDbCb-u-BjZCl3Ysk-W1j6oXyyrkp92PDY</string>
	<key>GCM_SENDER_ID</key>
	<string>565374864170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Translation.FirebaseML</string>
	<key>PROJECT_ID</key>
	<string>fir-m-1a4e5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-m-1a4e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565374864170:ios:06d737fbd1e5f0ede62c53</string>
</dict>
</plist>